{% from 'dropdown.html' import dropdown %}
{% from 'fee_result.html' import fee_result %}
{% from 'course_planner.html' import course_planner %}
{% from 'extra_links.html' import extra_links %}
{% from 'contact_us.html' import contact_us %}
{% from 'footer.html' import footer %}
{% from 'faq.html' import faq %}

<!-- import the html code from html files -->

<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/dropdown.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/fee_result.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/course_planner.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='javascripts/download.js') }}"></script>
    <script src="{{ url_for('static',filename='javascripts/course_planner.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>


    <script id="uwacore-rebrand-script" type="text/javascript"
        src="//static.weboffice.uwa.edu.au/visualid/core-rebrand/js/uwacore.js?refresh=46_260"></script>
    <link id="uwacore-rebrand-style" rel="stylesheet" type="text/css"
        href="//static.weboffice.uwa.edu.au/visualid/core-rebrand/css/uwacore.css?refresh=46_260" />
    <link rel="stylesheet" type="text/css"
        href="//static.weboffice.uwa.edu.au/visualid/lib/font-awesome/font-awesome.4.latest.css?r4" />
    <link rel="stylesheet" type="text/css"
        href="//static.weboffice.uwa.edu.au/visualid/core-rebrand/css/megamenu.css?r5" />
    <script async type="text/javascript"
        src="//static.weboffice.uwa.edu.au/visualid/core-rebrand/js/megamenu.js?r5"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Base</title>
</head>

<!-- body tag classes are from style sheets and javascript files from UWA ^ -->

<body class=" core-corp core-corp site-handbooks style-version-two landing-page year2021 ">

    <div class="headings">
        <br><br>
        <h1>Fee Calculator</h1>
    </div>
    <div class="introduction container" style="text-align: center; width: 70%;">
        <br>
        <p>Answer the questionnaire to generate a typical fee for your course of interest. Note: These fees are an estimate and are subject to change. For more information and confirmation of any fees, please contact Student Central: https://www.uwa.edu.au/students/contact. </p>
    </div>


    <div id="centrecontainer" role="main">
        <div class="contentwrapper">
            <div class="content">
                <!-- ########## START MAIN CONTENT ########## -->
                
                {{ dropdown() }}

                {{ fee_result() }}

                {{ course_planner() }}

                <br><br>

                <a href="/faq">
                    <div class="">
                        <div class="questionaire container" style="width: 80%; text-align: center">
                            <b style="text-align: center;">FAQs</b>
                        </div>
                    </div>
                </a>

                {{ extra_links() }}

                {{ contact_us() }}

                {{ footer() }}

                <!-- ########## END MAIN CONTENT ########## -->
            </div>
            <!--end .content-->
        </div>
        <!--end .contentwrapper-->
    </div>
    <!--end #centrecontainer-->
    
</body>

<script src="{{ url_for('static', filename='javascripts/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/fee_results.js') }}"></script>



</html>