<!-- html code encapsulated into a function using Jinja  -->
{% macro course_planner() %}

<div id="course-planner">
  <h3>Create your own course planner</h3>
  <div id="planner-header" class="container">
    <div class="row">
      <div id="course-selector" class="col">
        <div class="row">
          <div class="col">
            <label class="question-label">Degree type:</label>
          </div>
          <div class="col question-dropdown">
            <select name="levels" id="levels" onchange="dropDownChange()">
              <option disabled selected hidden>Select</option>
              <option value="Undergraduate">Undergraduate</option>
              <option value="Postgraduate">Postgraduate</option>
              <option value="Higher Degree by Research">Higher Degree by Research</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="question-label">Degree name:</label>
          </div>
          <div class="col question-dropdown">
            <select name="courses" id="major_select" onchange="major_change()">
              <option disabled selected hidden>Select</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Data Science">Data Science</option>


            </select>
          </div>
        </div>
      </div>
      <div class="col-md-auto"></div>
      <div id="planner-instruction" class="col col-lg-6">
        <h4>Instruction</h4>
        <ul>
          <li>a. Choose type of degree</li>
          <li>b. Choose degree that you want to study as your major</li>
          <li>d. Select the ‘Add a unit’ button to choose your elective. units</li>
          <li>e. Select the ‘Add a year’ button if you plan to complete your course over a longer period.</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="planner-body">
    <table class="table planner-table-main">
      <thead id="planner-table-header" class="table-light">
        <tr>
          <th scope="col" style="width: 10%">Year</th>
          <th scope="col" style="width: 10%">Sem</th>
          <th scope="col" style="width: 40%">Unit name</th>
          <th scope="col" style="width: 10%">Type</th>
          <th scope="col" style="width: 10%">Credit</th>
          <th scope="col" style="width: 10%">EFTSL</th>
          <th scope="col" style="width: 10%">Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr id="planner-requirement">
          <td colspan="4">Requirements</td>
          <td>(98)</td>
          <td>(2.000)</td>
          <td>-</td>
        </tr>
        <tr id="planner-major">
          <th colspan="7" scope="row" id="major_name">Major: Computer Science</th>
        </tr>
        <tr class="planner-year-row">
          <td class="year-column">
            <h1 class="year-text">
              Year 1
            </h1>
          </td>
          <td colspan="7">
            <table class="table table-borderless planner-table-year">
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 1</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">
                        
                        <span class="+unit" id="+unit1" onclick="changeto_drop(1)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop1" style="visibility: hidden;">
                          <span onclick="changeto_add(1)" style="color:red;" >X</span>

                          <select name="Unit" class="unit_select" id="unit_select1" style="margin-left: 5%;" onchange="cp_change_prices(1)">
                            <option disabled selected hidden>Select</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">
                       
                        <span class="+unit" id="+unit2" onclick="changeto_drop(2)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop2" style="visibility: hidden;">
                          <span onclick="changeto_add(2)" style="color:red;" >X</span>

                          <select name="Unit" class="unit_select" id="unit_select2" style="margin-left: 5%;" onchange="cp_change_prices(2)">
                            <option disabled selected hidden>Select</option>

                          </select>
                        </span>

                      </td>
                      <td style="width: 20%"class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%"class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">
                        
                        <span class="+unit" id="+unit3" onclick="changeto_drop(3)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop3" style="visibility: hidden;">
                          <span onclick="changeto_add(3)" style="color:red;" >X</span>

                          <select name="Unit" class="unit_select"  id="unit_select3" style="margin-left: 5%;" onchange="cp_change_prices(3)">
                            <option disabled selected hidden>Select</option>
                           
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%"class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%"  >  
                        <span class="+unit" id="+unit4" onclick="changeto_drop(4)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop4" style="visibility: hidden;">
                          <span onclick="changeto_add(4)" style="color:red;" >X</span>
                          <select name="Unit" class="unit_select"  id="unit_select4" style="margin-left: 5%;" onchange="cp_change_prices(4)">
                            <option disabled selected hidden>Select</option>
                            
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" id="credit">6</td>
                      <td style="width: 10%" id="eftsl">0.125</td>
                      <td style="width: 15%" id="fee" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 2</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      
                      <td style="width: 45%"  >  
                        
                        <span class="+unit" id="+unit5" onclick="changeto_drop(5)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop5" style="visibility: hidden;">
                          <span onclick="changeto_add(5)" style="color:red;" >X</span>
                          <select name="Unit" class="unit_select"  id="unit_select5" style="margin-left: 5%;" onchange="cp_change_prices(5)">
                            <option disabled selected hidden>Select</option>
                            
                          </select>
                        </span>

                      </td>

                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%"class="fee">0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">
                      
                        <span class="+unit" id="+unit6" onclick="changeto_drop(6)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop6" style="visibility: hidden;">
                          <span onclick="changeto_add(6)" style="color:red;" >X</span>

                          <select name="Unit" class="unit_select"  id="unit_select6" style="margin-left: 5%;" onchange="cp_change_prices(6)">
                            <option disabled selected hidden>Select</option>
                            
                          </select>
                        </span>
                        
                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">
                      
                        <span class="+unit" id="+unit7" onclick="changeto_drop(7)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop7" style="visibility: hidden;">
                          <span onclick="changeto_add(7)" style="color:red;" >X</span>

                          <select name="Unit"  class="unit_select"  id="unit_select7" style="margin-left: 5%;" onchange="cp_change_prices(7)">
                            <option disabled selected hidden>Select</option>
                            
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%"class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%"class="fee" > 0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">
                      
                        <span class="+unit" id="+unit8" onclick="changeto_drop(8)"  style="color:blue;" >+ add a unit</span>
                        
                        <span class="planner_drop" id="planner_drop8" style="visibility: hidden;">
                          <span onclick="changeto_add(8)" style="color:red;" >X</span>

                          <select name="Unit" class="unit_select"  id="unit_select8" style="margin-left: 5%;" onchange="cp_change_prices(8)">
                            <option disabled selected hidden>Select</option>
                           
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%"class="course_type">-</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="planner-year-row">
          <td class="year-column">
            <h1 class="year-text">
              Year 2
            </h1>
          </td>
          <td colspan="7">
            <table class="table table-borderless planner-table-year">
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 1</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 2</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">Introducttion to Data Science</td>
                      <td style="width: 20%">Compulsory</td>
                      <td style="width: 10%">6</td>
                      <td style="width: 10%">0.125</td>
                      <td style="width: 15%" class="fee">$1,800</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr id="balance-row">
          <td colspan="4" style="color: #27348b">Balance</td>
          <td>(98)</td>
          <td>(2.000)</td>
          <td>-</td>
        </tr>
        <tr id="total-row">
          <td colspan="4" style="color: #27348b">TOTAL</td>
          <td> 48 </td>
          <td>1.000</td>
          <td id="total_price">$14,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="questionaire container" style="width: 80%;">
  <div class="dowload_link" style="text-align: center;">
    <span>Satisfied with your course planner?</span>
    <button class="button" style="margin-left: 15%;" onclick="demoFromHTML()">Download here</button>
  </div>
</div>

<div style="margin: auto; margin-left: 100px;">
  <div class="course_planner">
    <link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='stylesheets/prototype-with-course-planner.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/globals.css')}}" />



    <div class="course-planner-intro">
      <div class="flex-col-1">
        <div class="text-36" style="font-size: xx-large; ">Create your own course planner</div>
        <img class="line-2" src="{{url_for('static', filename='img/line-2@1x.svg')}}" />
      </div>
      <div class="flex-row-2">
        <div class="overlap-group4">
          <div class="flex-col-2 montserrat-medium-governor-bay-18px">
            <div class="degree-type">Degree type:</div>
            <div class="degree-name">Degree name:</div>
          </div>
          <div class="flex-col-3">
            <div class="dropdown-menu-3">
              <div class="overlap-group-3 border-1px-alto">
                <div class="select montserrat-medium-governor-bay-14px">Select</div>
                <div class="arrowgroup-1">
                  <div class="overlap-group-4"><img class="vector"
                      src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                  <div class="overlap-group1-1"><img class="vector"
                      src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                </div>
              </div>
            </div>
            <div class="dropdown-menu-4">
              <div class="overlap-group-3 border-1px-alto">
                <div class="select montserrat-medium-governor-bay-14px">Select</div>
                <div class="arrowgroup-1">
                  <div class="overlap-group-4"><img class="vector"
                      src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                  <div class="overlap-group1-1"><img class="vector"
                      src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-col-4">
          <div class="instruction montserrat-medium-governor-bay-18px"><b>Instructions</b></div>
          <p class="text-37 montserrat-medium-governor-bay-14px">
            a. Choose type of degree<br />b. Choose degree that&nbsp;you want to study as your major<br />c.
            Choose between full-time study , part-time study, or custom length<br />d. Select the ‘Add a unit’ button
            to choose your elective.
            units<br />e. Select the ‘Add a year’ button if you plan to complete your course over a longer period.
          </p>
        </div>
      </div>
    </div>
    <div class="header-tabs">
      <div class="overlap-group15">
        <div class="overlap-group14">
          <div class="overlap-group-9">
            <div class="full-time">Full Time</div>
          </div>
          <img class="line-11" src="{{url_for('static', filename='img/line-11@1x.svg')}}" />
        </div>
        <div class="part-time" style="font-size: large;">Part Time</div>
        <div class="custom" style="font-size: large;">Custom</div>
        <img class="line-12" src="{{url_for('static', filename='img/line-12@2x.svg')}}" />
      </div>
    </div>
    <div class="course-planner-head">
      <div class="overlap-group13 montserrat-semi-bold-governor-bay-18px">
        <div class="type">Type</div>
        <div class="overlap-group-10">
          <div class="eftsl">EFTSL</div>
          <div class="credit">Credit</div>
        </div>
        <div class="fee">Fee</div>
      </div>
    </div>
    <div class="requirements-list">
      <div class="flex-row-3">
        <div class="requirements montserrat-semi-bold-governor-bay-14px">Requirements</div>
        <div class="number-6 montserrat-medium-black-14px">144</div>
        <div class="text-34 montserrat-medium-black-14px">3.000</div>
        <div class="text-35 montserrat-medium-black-14px">-</div>
      </div>
      <img class="line-4" src="{{url_for('static', filename='img/line-4-2@1x.svg')}}" />
    </div>
    <div class="major-unit-title">
      <div class="name montserrat-semi-bold-governor-bay-18px">Major units : Computer Science</div>
      <img class="line-3" src="{{url_for('static', filename='img/line-3@1x.svg')}}" />
    </div>
    <div class="major-unit-list-1" style="font-family: montserrat;">
      <div class="overlap-group7-1">
        <div class="rectangle-46-1"></div>
        <div class="rectangle-45-1"></div>
        <img class="rectangle-44-1" src="{{url_for('static', filename='img/rectangle-44@2x.svg')}}" />
        <div class="year-1 montserrat-medium-white-24px"
          style="font-size: 24px; transform: rotate(270deg); color: white;">Year 1</div>
        <div class="sem1-1 montserrat-medium-governor-bay-24px">Sem1</div>
        <div class="sem2-1 montserrat-medium-governor-bay-24px">Sem2</div>
      </div>
      <div class="flex-col">
        <div class="unit-groups-1">
          <div class="overlap-group6">
            <div class="overlap-group5">
              <div class="text montserrat-medium-cape-cod-14px">Professional Computing</div>
              <div class="number montserrat-medium-black-14px">6</div>
              <div class="text-1 montserrat-medium-black-14px">0.125</div>
              <div class="price montserrat-medium-black-14px">$1,800</div>
              <div class="compulsory montserrat-medium-black-14px">Compulsory</div>
              <div class="overlap-group-5">
                <div class="dragindicator">
                  <div class="overlap-group-6">
                    <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                    <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                  </div>
                </div>
                <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
              </div>
            </div>
            <div class="group-1">
              <div class="dragindicator-1">
                <div class="overlap-group-6">
                  <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                </div>
              </div>
              <div class="text-2 montserrat-medium-cape-cod-14px">Introduction to Data Science</div>
              <div class="compulsory-1 montserrat-medium-black-14px">Compulsory</div>
              <div class="number-1 montserrat-medium-black-14px">6</div>
              <div class="text-3 montserrat-medium-black-14px">0.125</div>
              <div class="price-1 montserrat-medium-black-14px">$1,800</div>
            </div>
          </div>
          <div class="overlap-group3">
            <div class="overlap-group1-2">
              <div class="text-4 montserrat-medium-cape-cod-14px">Relational Database Management System</div>
              <div class="compulsory-2 montserrat-medium-black-14px">Compulsory</div>
            </div>
            <div class="number-2 montserrat-medium-black-14px">6</div>
            <div class="text-5 montserrat-medium-black-14px">0.125</div>
            <div class="price-2 montserrat-medium-black-14px">$1,800</div>
            <div class="overlap-group-5">
              <div class="dragindicator">
                <div class="overlap-group-6">
                  <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                </div>
              </div>
              <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            </div>
          </div>
        </div>
        <div class="add-unit-button">
          <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
          <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
        </div>
        <div class="unit-groups-2">
          <div class="group-4">
            <div class="dragindicator-2">
              <div class="overlap-group-6">
                <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
              </div>
            </div>
            <div class="systems-programming montserrat-medium-cape-cod-14px">Systems Programming</div>
            <div class="compulsory-3 montserrat-medium-black-14px">Compulsory</div>
            <div class="number-3 montserrat-medium-black-14px">6</div>
            <div class="text-6 montserrat-medium-black-14px">0.125</div>
            <div class="price-3 montserrat-medium-black-14px">$1,800</div>
          </div>
          <div class="add-unit-button-1">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
          <div class="add-unit-button-2">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
          <div class="add-unit-button-2">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
        </div>
      </div>
    </div>
    <div class="major-unit-list">
      <div class="overlap-group7">
        <div class="rectangle-46"></div>
        <div class="rectangle-45"></div>
        <img class="rectangle-44" src="{{url_for('static', filename='img/rectangle-44@2x.svg')}}" />
        <div class="year montserrat-medium-white-24px"
          style="font-size: 24px; transform: rotate(270deg); color: white;">Year 2</div>
        <div class="sem1 montserrat-medium-governor-bay-24px">Sem1</div>
        <div class="sem2 montserrat-medium-governor-bay-24px">Sem2</div>
      </div>
      <div class="flex-col">
        <div class="unit-groups-1">
          <div class="overlap-group6">
            <div class="overlap-group5">
              <div class="text montserrat-medium-cape-cod-14px">Professional Computing</div>
              <div class="number montserrat-medium-black-14px">6</div>
              <div class="text-1 montserrat-medium-black-14px">0.125</div>
              <div class="price montserrat-medium-black-14px">$1,800</div>
              <div class="compulsory montserrat-medium-black-14px">Compulsory</div>
              <div class="overlap-group-5">
                <div class="dragindicator">
                  <div class="overlap-group-6">
                    <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                    <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                  </div>
                </div>
                <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
              </div>
            </div>
            <div class="group-1">
              <div class="dragindicator-1">
                <div class="overlap-group-6">
                  <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                </div>
              </div>
              <div class="text-2 montserrat-medium-cape-cod-14px">Introduction to Data Science</div>
              <div class="compulsory-1 montserrat-medium-black-14px">Compulsory</div>
              <div class="number-1 montserrat-medium-black-14px">6</div>
              <div class="text-3 montserrat-medium-black-14px">0.125</div>
              <div class="price-1 montserrat-medium-black-14px">$1,800</div>
            </div>
          </div>
          <div class="overlap-group3">
            <div class="overlap-group1-2">
              <div class="text-4 montserrat-medium-cape-cod-14px">Relational Database Management System</div>
              <div class="compulsory-2 montserrat-medium-black-14px">Compulsory</div>
            </div>
            <div class="number-2 montserrat-medium-black-14px">6</div>
            <div class="text-5 montserrat-medium-black-14px">0.125</div>
            <div class="price-2 montserrat-medium-black-14px">$1,800</div>
            <div class="overlap-group-5">
              <div class="dragindicator">
                <div class="overlap-group-6">
                  <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                </div>
              </div>
              <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            </div>
          </div>
        </div>
        <div class="add-unit-button">
          <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
          <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
        </div>
        <div class="unit-groups-2">
          <div class="group-4">
            <div class="dragindicator-2">
              <div class="overlap-group-6">
                <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
              </div>
            </div>
            <div class="systems-programming montserrat-medium-cape-cod-14px">Systems Programming</div>
            <div class="compulsory-3 montserrat-medium-black-14px">Compulsory</div>
            <div class="number-3 montserrat-medium-black-14px">6</div>
            <div class="text-6 montserrat-medium-black-14px">0.125</div>
            <div class="price-3 montserrat-medium-black-14px">$1,800</div>
          </div>
          <div class="add-unit-button-1">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
          <div class="add-unit-button-2">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
          <div class="add-unit-button-2">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
        </div>
      </div>
    </div>
    <div class="major-unit-list">
      <div class="overlap-group7">
        <div class="rectangle-46"></div>
        <div class="rectangle-45"></div>
        <img class="rectangle-44" src="{{url_for('static', filename='img/rectangle-44@2x.svg')}}" />
        <div class="year montserrat-medium-white-24px"
          style="font-size: 24px; transform: rotate(270deg); color: white;">Year 3</div>
        <div class="sem1 montserrat-medium-governor-bay-24px">Sem1</div>
        <div class="sem2 montserrat-medium-governor-bay-24px">Sem2</div>
      </div>
      <div class="flex-col">
        <div class="unit-groups-1">
          <div class="overlap-group6">
            <div class="overlap-group5">
              <div class="text montserrat-medium-cape-cod-14px">Professional Computing</div>
              <div class="number montserrat-medium-black-14px">6</div>
              <div class="text-1 montserrat-medium-black-14px">0.125</div>
              <div class="price montserrat-medium-black-14px">$1,800</div>
              <div class="compulsory montserrat-medium-black-14px">Compulsory</div>
              <div class="overlap-group-5">
                <div class="dragindicator">
                  <div class="overlap-group-6">
                    <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                    <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                  </div>
                </div>
                <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
              </div>
            </div>
            <div class="group-1">
              <div class="dragindicator-1">
                <div class="overlap-group-6">
                  <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                </div>
              </div>
              <div class="text-2 montserrat-medium-cape-cod-14px">Introduction to Data Science</div>
              <div class="compulsory-1 montserrat-medium-black-14px">Compulsory</div>
              <div class="number-1 montserrat-medium-black-14px">6</div>
              <div class="text-3 montserrat-medium-black-14px">0.125</div>
              <div class="price-1 montserrat-medium-black-14px">$1,800</div>
            </div>
          </div>
          <div class="overlap-group3">
            <div class="overlap-group1-2">
              <div class="text-4 montserrat-medium-cape-cod-14px">Relational Database Management System</div>
              <div class="compulsory-2 montserrat-medium-black-14px">Compulsory</div>
            </div>
            <div class="number-2 montserrat-medium-black-14px">6</div>
            <div class="text-5 montserrat-medium-black-14px">0.125</div>
            <div class="price-2 montserrat-medium-black-14px">$1,800</div>
            <div class="overlap-group-5">
              <div class="dragindicator">
                <div class="overlap-group-6">
                  <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                </div>
              </div>
              <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            </div>
          </div>
        </div>
        <div class="add-unit-button">
          <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
          <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
        </div>
        <div class="unit-groups-2">
          <div class="group-4">
            <div class="dragindicator-2">
              <div class="overlap-group-6">
                <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
              </div>
            </div>
            <div class="systems-programming montserrat-medium-cape-cod-14px">Systems Programming</div>
            <div class="compulsory-3 montserrat-medium-black-14px">Compulsory</div>
            <div class="number-3 montserrat-medium-black-14px">6</div>
            <div class="text-6 montserrat-medium-black-14px">0.125</div>
            <div class="price-3 montserrat-medium-black-14px">$1,800</div>
          </div>
          <div class="add-unit-button-1">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
          <div class="add-unit-button-2">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
          <div class="add-unit-button-2">
            <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
            <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-year-button">
      <div class="overlap-group12">
        <div class="add-another-year">Add another year</div>
      </div>
    </div>
    <div class="balance-unit-list">
      <img class="line-4-1" src="{{url_for('static', filename='img/line-4-1@1x.svg')}}" />
      <div class="flex-row-4">
        <div class="balance montserrat-semi-bold-governor-bay-14px">Balance</div>
        <div class="text-10 montserrat-medium-black-14px">(98)</div>
        <div class="text-11 montserrat-medium-black-14px">(2.000)</div>
        <div class="text-12 montserrat-medium-black-14px">-</div>
      </div>
    </div>
    <div class="course-planner-result">
      <div class="overlap-group11">
        <div class="rectangle-10"></div>
        <div class="total montserrat-semi-bold-governor-bay-18px">TOTAL</div>
        <div class="group-6 montserrat-medium-black-14px">
          <div class="number-7">48</div>
          <div class="text-9">1.000</div>
          <div class="price-5">$14,400</div>
        </div>
        <img class="line-4-2" src="{{url_for('static', filename='img/line-4@1x.svg')}}" />
        <img class="line-5-1" src="{{url_for('static', filename='img/line-4@1x.svg')}}" />
      </div>
    </div>

  </div>

  {% endmacro %}
  <!-- DO NOT CHANGE element id, element name, element value -->