<!-- html code encapsulated into a function using Jinja  -->
{% macro course_planner() %}

<div id="course-planner">
  <h3>Create your own course planner</h3>
  <div id="planner-header" class="container">
    <div class="row">
      <div id="course-selector" class="col">
        <div class="row" style="line-height: 3.5">
          <div class="col">
            <label class="question-label">Degree type:</label>
            <span class="mytooltip" data-tooltip=
            "You are an Australian domestic student if you are:
            an Australian citizen;
            an Australian permanent resident (holders of all categories of permanent residency visas, including humanitarian visas), or
            a New Zealand citizen.

            You are an international student if you are:
            a temporary resident (visa status) of Australia,
            a permanent resident (visa status) of New Zealand, or
            a resident or citizen of any other country.">?</span>
          </div>
          <div class="col question-dropdown">
            <select name="levels" id="levels" class="dropdown_1" onchange="update_degree_names()">
              <option disabled selected hidden>Select</option>
              <option value="Undergraduate">Undergraduate</option>
              <option value="Postgraduate">Postgraduate</option>
              <option value="Higher Degree by Research">Higher Degree by Research</option>
            </select>
          </div>
        </div>
        <div class="row" style="line-height: 1.6">
          <div class="col">
            <label class="question-label">Degree name:</label>
          </div>
          <div class="col question-dropdown">
            <select name="courses" class = "major_select" id="major_select" onchange="major_change()">
              <option disabled selected hidden>Select</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-auto"></div>
      <div id="planner-instruction" class="col col-lg-6">
        <h4>Instructions</h4>
        <ul>
          <li>a. Choose type of degree</li>
          <li>b. Choose degree that you want to study as your major.</li>
          <li>d. Select the ‘Add a unit’ button to choose your elective units.</li>
          <li>e. Select the ‘Add a year’ button if you plan to complete your course over a longer period.</li>
          <li>f. If you wish to change a unit, select the unit and choose a new unit from the dropown menu.</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="planner-body">
    <table class="table planner-table-main">
      <thead id="planner-table-header" class="table-light">
        <tr style= "text-align: center;">
          <th scope="col" style="width: 10%; vertical-align: middle;">Year</th>
          <th scope="col" style="width: 10%; vertical-align: middle;">Teaching Period</th>
          <th scope="col" style="width: 38%; vertical-align: middle;">Unit name</th>
          <th scope="col" style="width: 12%; vertical-align: middle;">
            Type
            <span class="mytooltip" data-tooltip=
            "Core units are units within a major that must be completed by all students undertaking that major. 
            Option unites are other units within a major that can be chosen from a list of options.
            Elective units are units beyong your major to provide you with the opportunity to explore a 
            range of interests and new disciplines. ">?</span>
          </th>

          <th scope="col" style="width: 10%; vertical-align: middle;">
            Credit
            <span class="mytooltip" data-tooltip=
            "In UWA courses a standard full-time enrolment is 24 credit points (4 units) 
            per semester, or 48 credit points (8 units) per academic year.
            International students need to maintain a standard full-time study load per 
            semester to satisfy student visa requirements. If you are an international student 
            and need to take leave or reduce your study load, please contact the International 
            Student Support team for advice.
            Australian and other domestic students can choose to enrol part-time or full-time. 
            In studentConnect your student status is determined by the number of credit points 
            enrolled in over an academic year.">?</span>
          </th>
          <th scope="col" style="width: 10%; vertical-align: middle;">
            EFTSL
            <span class="mytooltip" data-tooltip=
            "EFTSL refers to the Equivalent Full-Time Study Load attributed to a unit. 
            Each unit has a set study load (usually based on the number of credit points 
            that the unit is worth), one EFTSL (1.000) is equivalent to a full time study 
            load for one year.">?</span>
          </th>
          <th scope="col" style="width: 10%; vertical-align: middle;">Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr id="planner-major">
          <th colspan="7" scope="row" id="major_name">Major: </th>
        </tr>
        <tr class="planner-year-row">
          <td class="year-column">
            <h1 class="year-text">
              Year 1
            </h1>
          </td>
          <td colspan="7">
            <table class="table table-borderless planner-table-year">
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 1</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit1" onclick="changeto_drop(1)" style="color:blue;">+ add a unit</span>

                        <span class="planner_drop" id="planner_drop1" style="visibility: hidden;">
                          <span onclick="changeto_add(1)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select" id="unit_select1"  onchange="cp_change_prices(1)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>

                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit2" onclick="changeto_drop(2)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop2" style="visibility: hidden;">
                          <span onclick="changeto_add(2)" style="color:red;">X</span>
                          <br/>


                          <select name="Unit" class="unit_select"  id="unit_select2"  onchange="cp_change_prices(2)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit3" onclick="changeto_drop(3)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop3" style="visibility: hidden;">
                          <span onclick="changeto_add(3)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select3"  onchange="cp_change_prices(3)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">
                        <span class="+unit" id="+unit4" onclick="changeto_drop(4)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop4" style="visibility: hidden;">
                          <span onclick="changeto_add(4)" style="color:red;">X</span>                   
                                 <br/>

                          <select name="Unit" class="unit_select"  id="unit_select4"  onchange="cp_change_prices(4)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 2</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>

                      <td style="width: 45%">

                        <span class="+unit" id="+unit5" onclick="changeto_drop(5)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop5" style="visibility: hidden;">
                          <span onclick="changeto_add(5)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select5" onchange="cp_change_prices(5)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>

                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit6" onclick="changeto_drop(6)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop6" style="visibility: hidden;">
                          <span onclick="changeto_add(6)" style="color:red;">X</span>
                          <br/>


                          <select name="Unit" class="unit_select"  id="unit_select6"  onchange="cp_change_prices(6)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit7" onclick="changeto_drop(7)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop7" style="visibility: hidden;">
                          <span onclick="changeto_add(7)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select7"  onchange="cp_change_prices(7)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit8" onclick="changeto_drop(8)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop8" style="visibility: hidden;">
                          <span onclick="changeto_add(8)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select8" onchange="cp_change_prices(8)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="planner-year-row">
          <td class="year-column">
            <h1 class="year-text">
              Year 2
            </h1>
          </td>
          <td colspan="7">
            <table class="table table-borderless planner-table-year">
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 1</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit9" onclick="changeto_drop(9)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop9" style="visibility: hidden;">
                          <span onclick="changeto_add(9)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select9"  onchange="cp_change_prices(9)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit10" onclick="changeto_drop(10)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop10" style="visibility: hidden;">
                          <span onclick="changeto_add(10)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select10" onchange="cp_change_prices(10)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit11" onclick="changeto_drop(11)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop11" style="visibility: hidden;">
                          <span onclick="changeto_add(11)" style="color:red;">X</span>

                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select11" onchange="cp_change_prices(11)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit12" onclick="changeto_drop(12)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop12" style="visibility: hidden;">
                          <span onclick="changeto_add(12)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select12"  onchange="cp_change_prices(12)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 2</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit13" onclick="changeto_drop(13)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop13" style="visibility: hidden;">
                          <span onclick="changeto_add(13)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select13"  onchange="cp_change_prices(13)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit14" onclick="changeto_drop(14)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop14" style="visibility: hidden;">
                          <span onclick="changeto_add(14)" style="color:red;">X</span>
                          <br/>


                          <select name="Unit" class="unit_select"  id="unit_select14"  onchange="cp_change_prices(14)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit15" onclick="changeto_drop(15)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop15" style="visibility: hidden;">
                          <span onclick="changeto_add(15)" style="color:red;">X</span>

                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select15" onchange="cp_change_prices(15)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit16" onclick="changeto_drop(16)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop16" style="visibility: hidden;">
                          <span onclick="changeto_add(16)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select16"  onchange="cp_change_prices(16)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="planner-year-row">
          <td class="year-column">
            <h1 class="year-text">
              Year 3
            </h1>
          </td>
          <td colspan="7">
            <table class="table table-borderless planner-table-year">
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 1</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit17" onclick="changeto_drop(17)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop17" style="visibility: hidden;">
                          <span onclick="changeto_add(17)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select17" onchange="cp_change_prices(17)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit18" onclick="changeto_drop(18)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop18" style="visibility: hidden;">
                          <span onclick="changeto_add(18)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select18"  onchange="cp_change_prices(18)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit19" onclick="changeto_drop(19)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop19" style="visibility: hidden;">
                          <span onclick="changeto_add(19)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select19"  onchange="cp_change_prices(19)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit20" onclick="changeto_drop(20)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop20" style="visibility: hidden;">
                          <span onclick="changeto_add(20)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select20"  onchange="cp_change_prices(20)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="semester-column">
                  <div class="semester-text">
                    <h3>Sem 2</h3>
                  </div>
                </td>
                <td>
                  <table class="table table-striped planner-table-semester">
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit21" onclick="changeto_drop(21)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop21" style="visibility: hidden;">
                          <span onclick="changeto_add(21)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select21"  onchange="cp_change_prices(21)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit22" onclick="changeto_drop(22)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop22" style="visibility: hidden;">
                          <span onclick="changeto_add(22)" style="color:red;">X</span>
                          <br/>


                          <select name="Unit" class="unit_select"  id="unit_select22"  onchange="cp_change_prices(22)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit23" onclick="changeto_drop(23)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop23" style="visibility: hidden;">
                          <span onclick="changeto_add(23)" style="color:red;">X</span>
                          <br/>


                          <select name="Unit" class="unit_select"  id="unit_select23"  onchange="cp_change_prices(23)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                    <tr>
                      <td style="width: 45%">

                        <span class="+unit" id="+unit24" onclick="changeto_drop(24)" style="color:blue;">+ add a
                          unit</span>

                        <span class="planner_drop" id="planner_drop24" style="visibility: hidden;">
                          <span onclick="changeto_add(24)" style="color:red;">X</span>
                          <br/>

                          <select name="Unit" class="unit_select"  id="unit_select24" onchange="cp_change_prices(24)">
                            <option disabled selected hidden>Select</option>
                            <option value="Unit1">Unit1</option>
                            <option value="Unit2">Unit2</option>
                            <option value="Unit3 ">Unit3</option>
                          </select>
                        </span>

                      </td>
                      <td style="width: 20%" class="course_type">-</td>
                      <td style="width: 10%" class="unit_credit">0</td>
                      <td style="width: 10%" class="unit_eftsl" >0</td>
                      <td style="width: 15%" class="fee">$0</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!--tr id="balance-row">
          <td colspan="4" style="color: #27348b">Balance</td>
          <td>(98)</td>
          <td>(2.000)</td>
          <td>-</td>
        </tr-->
        <tr id="total-row">
          <td colspan="4" style="color: #27348b">TOTAL</td>
          <td id="total_credits">0</td>
          <td id="total_eftsl">0</td>
          <td id="total_price" >$0</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="dowload-section container">
    <div class="row">
      <div class="col">
        <div class="download-image float-right"></div>
      </div>
      <div class="col" style="margin-left: 60px;">
        <h3 class="download-text">Satisfied with your course planner?</h3>
        <button class="button" onclick="demoFromHTML()">Download here</button>
      </div>
    </div>

  </div>


  {% endmacro %}
  <!-- DO NOT CHANGE element id, element name, element value -->