<!-- html code encapsulated into a function using Jinja -->
{% macro dropdown() %}


<h3>Calculate Your Typical Fee</h3>
<div class="container questionaire">
    <div class="row justify-content-center p-1 ">
        <div class="col-sm-5">
            <label for="types">What type of student are you?</label>
            <span class="mytooltip" data-tooltip=
            "You are an Australian domestic student if you are:
            an Australian citizen/ Australian permanent resident/ a New Zealand citizen.

            You are an international student if you are: a temporary resident of AU/ 
            a permanent resident (visa status) of NZ/ a citizen of any other country.">?</span>
        </div>
 
        <div class="col-sm-5">
            <select name="types" id="types" onchange="dropDownChange(); blankFeeResults()">
                <option disabled selected hidden>Select</option>
                <option value="Domestic">Domestic</option>
                <option value="International">International</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center p-1">
        <div class="col-sm-5">
            <label for="levels">What type of course would you like to complete?</label>
            <span class="mytooltip" data-tooltip=
            "UNGERGRADUATE: first studies undertaken at university to introduce students to 
            the knowledge base within a specific discipline.
            POSTGRADUATE: available to students who have completed undergraduate studies 
            (a more highly qualitifed result).
            POSTGRADUATE RESEARCH: have an intensive research component to extend your understanding 
            of a subject area ">?</span>         
        </div>

        <div class="col-sm-5">
            <select name="levels" id="levels" onchange="dropDownChange(); blankFeeResults()">
                <option disabled selected hidden>Select</option>
                <option value="Undergraduate">Undergraduate</option>
                <option value="Postgraduate">Postgraduate</option>
                <option value="Higher Degree by Research">Higher Degree by Research</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center p-1">
        <div class="col-sm-5">
            <label for="years">Which year would you like to start?</label>
            <span class="mytooltip" data-tooltip=
            "Intake periods for undergraduate and postgraduate programs by coursework are 
            provided on the course pages and in the UWA Handbook.">?</span>
        </div>

        <div class="col-sm-5">
            <select name="years" id="years" onchange="dropDownChange(); blankFeeResults()">
                <option disabled selected hidden>Select</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center p-1">
        <div class="col-sm-5">
            <label for="courses">Which course would you like to complete?</label>
            <span class="mytooltip" data-tooltip="Different courses focuses on different disciplines. 
            For more information on courses options, please refer to the UWA Handbook">?</span>
        </div>

        <div class="col-sm-5">
            <select name="courses" id="courses" onchange="updateFeeResults()">
                <option disabled selected hidden>Select</option>
            </select>
        </div>
    </div>

</div>

{% endmacro %}

<!-- DO NOT CHANGE element id, element name, element value -->