<!-- html code encapsulated into a function using Jinja -->
{% macro dropdown() %}


<h3>Calculate Your Typical Fee</h3>

<div class="container questionaire">
    <div class="row justify-content-center p-1 ">
        <div class="col-sm-5">
            <label for="locations">What type of student are you?</label>
        </div>

        <div class="col-sm-5">
            <select name="locations" id="locations" onchange="dropDownChange()">
                <option disabled selected hidden>Select</option>
                <option value="Domestic">Domestic</option>
                <option value="International">International</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center p-1">
        <div class="col-sm-5">
            <label for="levels">What type of course would you like to complete?</label>
        </div>

        <div class="col-sm-5">
            <select name="levels" id="levels" onchange="dropDownChange()">
                <option disabled selected hidden>Select</option>
                <option value="Undergraduate">Undergraduate</option>
                <option value="Postgraduate">Postgraduate</option>
                <option value="Higher Degree by Research">Higher Degree by Research</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center p-1">
        <div class="col-sm-5">
            <label for="years">Which year would you like to start?</label>
        </div>

        <div class="col-sm-5">
            <select name="years" id="years">
                <option disabled selected hidden>Select</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center p-1">
        <div class="col-sm-5">
            <label for="courses">Which course would you like to complete?</label>

        </div>

        <div class="col-sm-5">
            <select name="courses" id="courses">
                <option disabled selected hidden>Select</option>
            </select>
        </div>
    </div>

</div>



{% endmacro %}

<!-- DO NOT CHANGE element id, element name, element value -->