{% macro extra_links() %}

<div id="new_div_3027102">
    <ul class="image-links grid-4-column large">
        <li><a href="https://handbooks.uwa.edu.au/search?type=courses&amp;searchtext=#tag-bachelor-s"><img
                    src="https://year2020.handbooks.uwa.edu.au/__data/assets/image/0005/3368471/Handbook19_UG.jpg">Undergraduate</a>
        </li>
        <li><a
                href="https://handbooks.uwa.edu.au/search?type=courses&amp;searchtext=#tag-bachelor-s+tag-combined+tag-master-s"><img
                    src="https://handbooks.uwa.edu.au/__data/assets/image/0010/3644479/CombinedCourses384x270.jpg">Combined
                Bachelor's + Master's</a></li>
        <li><a href="https://handbooks.uwa.edu.au/postgraduate"><img
                    src="https://year2020.handbooks.uwa.edu.au/__data/assets/image/0006/3368472/Handbook_19_PG.jpg">Postgraduate</a>
        </li>
        <li><a href="https://handbooks.uwa.edu.au/hdr"><img
                    src="https://year2020.handbooks.uwa.edu.au/__data/assets/image/0007/3368473/Handbook19_Research.jpg">Higher
                degree by research</a></li>
    </ul>
</div>

<div id="new_div_3027094">

    <ul class="grid-4-column">
        <li><a href="https://handbooks.uwa.edu.au/search/?type=units&searchtext=#tag-online" class="button border">View
                all online units</a></li>
        <li><a class="button border" href="https://handbooks.uwa.edu.au/course-rules">Rules</a></li>
        <!--<li><a class="button border" href="https://handbooks.uwa.edu.au/fees">Fees</a></li>-->
        <li><a class="button border" href="https://handbooks.uwa.edu.au/pre-2012">Pre-2012</a></li>
        <li><a class="button border" href="https://handbooks.uwa.edu.au/archived-handbooks">Archived
                handbooks</a></li>
    </ul>

</div>

{% endmacro %}