{% macro footer() %}

<!--[if lte IE 9]><div id="legacy-browser"><![endif]-->

<a id="top"></a>

<div id="uwacore-data">



    <div id="uwacore-footer-extras">

    </div>


    <ol id="uwacore-breadcrumbs">
        <li><a href="https://www.uwa.edu.au">UWA Home</a></li>
        <li><a href="https://www.uwa.edu.au">UWA home</a></li>
        <li><a href="https://handbooks.uwa.edu.au">UWA Handbook 2021</a></li>
        <li class="current">Search</li>
    </ol>

    <div id="uwacore-footer-pageinfo">
        <dl class="columns-small">
            <dt>Updated</dt>
            <dd>Monday, 16 November, 2020 10:27 AM (this date excludes nested assets)</dd>
            <dt>Feedback</dt>
            <dd><a href="/cdn-cgi/l/email-protection#b5ddd4dbd1d7dadadef5c0c2d49bd0d1c09bd4c0"><span
                        class="__cf_email__"
                        data-cfemail="3c545d52585e5353577c494b5d12595849125d49">[email&#160;protected]</span></a></a>
            </dd>
            <dt>Content ID</dt>
            <dd>Mysource Matrix #3542105</dd>
        </dl>
    </div>

    <div id="uwamenu-navigation" role="navigation">



        <ul>
            <li><a href="https://handbooks.uwa.edu.au/undergraduate-bachelor">Undergraduate</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/postgraduate">Postgraduate</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/online-courses">Online</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/hdr">Higher degree by research</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/course-rules">Course rules</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/student-procedures">Student procedures</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/university-policies">University Policies</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/units">Units</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/pre-2012">Pre-2012</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/contact-us">Contact us</a>

            </li>
            <li><a href="https://handbooks.uwa.edu.au/archived-handbooks">Archived Handbooks</a>

            </li>
        </ul>



    </div>
    <!--end #uwamenu-navigation-->
</div><!-- end .core-data -->


{% endmacro %}