<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8"> 
        <title>Fee Calculator: FAQs</title>
        <link href="stylesheet.css">
    </head>
    <body>
        <div class="div_dark_blue">
            <img src= https://cdn.freebiesupply.com/logos/large/2x/uwa-university-perth-logo-png-transparent.png, alt="UWA logo">
        </div>
        <div class="div_tan">Fee Calculator: FAQs</div>
        <p>Have any questions about how to use our fee calculator? Many of the questions you have may be answered below</p>
        
        <div class="dropdown">What is a Commonwealth Supported Place?</div>

    </body>
</html>