<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/prototype-with-course-planner.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globals.css')}}" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #fafafa">
    <input type="hidden" id="anPageName" name="page" value="prototype-with-course-planner" />
    <div class="container-center-horizontal">
      <div class="prototype-with-course-planner screen">
        <div class="page-header">
          <div class="rectangle-3"></div>
          <div class="overlap-group10">
            <img class="uwacrest-white-1" src="{{url_for('static', filename='img/uwacrest-white-1@2x.png')}}" />
            <div class="search-button">
              <div class="search">
                <div class="overlap-group-7"><img class="vector" src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
              </div>
              <div class="search-1">SEARCH</div>
            </div>
            <div class="menu-button">
              <div class="menu">
                <div class="overlap-group-8">
                  <img class="vector-3" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                  <img class="vector-4" src="{{url_for('static', filename='img/vector-22@2x.svg')}}" />
                </div>
              </div>
              <div class="menu-1">MENU</div>
            </div>
          </div>
          <div class="overlap-group9"><h1 class="title">Fee Calculator</h1></div>
        </div>
        <p class="text-8 montserrat-medium-black-14px">
          The UWA fee Calculator will let you find an price estimate on the units you would like to take. Please follow the prompts to find the right fees and units for you.
        </p>
        <div class="fee-range-head">
          <div class="text-7 montserrat-semi-bold-governor-bay-24px" style="font-family: montserrat;">Calculate your typical fee</div>
          <img class="line-1" src="{{url_for('static', filename='img/line-1@1x.svg')}}" />
        </div>


        <div class="fee-range-questionaire">
          <div class="overlap-group6-1">
            <div class="flex-row">
              <div class="text-5-1 montserrat-medium-governor-bay-18px">Where are you located?</div>
              
                <label for="question_1"></label>
                <div class="dropdown-menu-1">
                  <div class="overlap-group border-1px-alto" style="width: 10px; left: 45px; position: relative; object-fit: cover;" >
                    <div class="select montserrat-medium-governor-bay-14px" id="select_1">
                      <select name="question_1" id="question_1">
                      <option value="International">International</option>
                      <option value="Domestic">Domestic</option>
                      </select>
                    </div>
                    <div class="arrowgroup">
                      
                      <div class="overlap-group-1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                      <div class="overlap-group1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                    </div>
                  </div>
                </div>
                
                
          
            </div>
            <div class="flex-row-1">
              <div class="type-of-study montserrat-medium-governor-bay-18px">Type of study?</div>
                <div class="dropdown-menu-2">
                  <div class="overlap-group border-1px-alto" style="width: 10px; left: 65px; position: relative; object-fit: cover;">
                    <div class="select montserrat-medium-governor-bay-14px">
                      <div >
                      <select name="question_2" id="question_2">
                        <option value="Postgraduate">Prostgraduate</option>
                        <option value="Undergradutate">Undergradutate</option>
                      </select>
                    </div>

                    </div>
                    <div class="arrowgroup">
                      <div class="overlap-group-1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                      <div class="overlap-group1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="overlap-group-2">
              <div class="text-6-1 montserrat-medium-governor-bay-18px">When are you planning to start?</div>
              
                <div class="dropdown-menu">
                  <div class="overlap-group border-1px-alto">
                    <div class="select montserrat-medium-governor-bay-14px">
                      <select name="question_3" id="question_3">
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </div>
                    <div class="arrowgroup">
                      <div class="overlap-group-1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                      <div class="overlap-group1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="overlap-group-2">
              <div class="text-4-1 montserrat-medium-governor-bay-18px">Which bachelor do you want to complete?</div>
              
                <div class="dropdown-menu">
                  <div class="overlap-group border-1px-alto">
                    <div class="select montserrat-medium-governor-bay-14px">
                      <select name="question_3" id="question_3">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Data Science">Data Science</option>
                      </select>

                    </div>
                    <div class="arrowgroup">
                      <div class="overlap-group-1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                      <div class="overlap-group1"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
                    </div>
                  </div></div
              >
            </div>
          </div>
        </div>
        <div class="fee-range-result">
          <div class="text-2-1 montserrat-semi-bold-governor-bay-18px">
            Typical fee range for computer science study starting in 2022
          </div>
          <div class="overlap-group2 montserrat-semi-bold-governor-bay-18px">
            <div class="course-credit-point">Course credit <br />point</div>
            <div class="annual-credit-point">Annual credit <br />point</div>
            <div class="average-annual-fee">Average annual <br />fee</div>
            <div class="typical-fee-range">Typical fee <br />range</div>
          </div>
          <div class="overlap-group3-1">
            <div class="numbers montserrat-medium-black-18px">
              <div class="number-4">144</div>
              <div class="number-5">48</div>
              <div class="price-4">$8,747</div>
              <div class="text-3-1">$3,950-$14,500</div>
            </div>
            <div class="divider">
              <img class="line-5" src="{{url_for('static', filename='img/line-5@2x.svg')}}" />
              <img class="line-6" src="{{url_for('static', filename='img/line-5@2x.svg')}}" />
              <img class="line-7" src="{{url_for('static', filename='img/line-5@2x.svg')}}" />
            </div>
          </div>
        </div>
        <div class="course-planner-intro">
          <div class="flex-col-1">
            <div class="text-36 montserrat-semi-bold-governor-bay-24px" style="font-family: montserrat;" >Create your own course planner</div>
            <img class="line-2" src="{{url_for('static', filename='img/line-2@1x.svg')}}" />
          </div>
          <div class="flex-row-2">
            <div class="overlap-group4">
              <div class="flex-col-2 montserrat-medium-governor-bay-18px">
                <div class="degree-type">Degree type:</div>
                <div class="degree-name">Degree name:</div>
              </div>
              <div class="flex-col-3">
                  <div class="dropdown-menu-3">
                    <div class="overlap-group-3 border-1px-alto">
                      <div class="select montserrat-medium-governor-bay-14px">Select</div>
                      <div class="arrowgroup-1">
                        <div class="overlap-group-4"><img class="vector" src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                        <div class="overlap-group1-1"><img class="vector" src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                      </div>
                    </div></div>
                  <div class="dropdown-menu-4">
                    <div class="overlap-group-3 border-1px-alto">
                      <div class="select montserrat-medium-governor-bay-14px">Select</div>
                      <div class="arrowgroup-1">
                        <div class="overlap-group-4"><img class="vector" src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                        <div class="overlap-group1-1"><img class="vector" src="{{url_for('static', filename='img/vector-10@2x.png')}}" /></div>
                      </div>
                    </div></div
                >
              </div>
            </div>
            <div class="flex-col-4">
              <div class="instruction montserrat-medium-governor-bay-18px">Instruction</div>
              <p class="text-37 montserrat-medium-governor-bay-14px">
                a. Choose type of degree<br />b. Choose degree that&nbsp;&nbsp;you want to study as your major<br />c.
                Choose between full-time, part-time study<br />d. Press ‘Add a unit’ button to choose your elective
                units<br />e. Press ‘Add a year’ button if you plan to complete longer
              </p>
            </div>
          </div>
        </div>
        <div class="header-tabs">
          <div class="overlap-group15">
            <div class="overlap-group14">
              <div class="overlap-group-9"><div class="full-time">Full Time</div></div>
              <img class="line-11" src="{{url_for('static', filename='img/line-11@1x.svg')}}" />
            </div>
            <div class="part-time montserrat-semi-bold-governor-bay-24px" style="font-family: montserrat;">Part Time</div>
            <div class="custom montserrat-semi-bold-governor-bay-24px" style="font-family: montserrat;">Custom</div>
            <img class="line-12" src="{{url_for('static', filename='img/line-12@2x.svg')}}" />
          </div>
        </div>
        <div class="course-planner-head">
          <div class="overlap-group13 montserrat-semi-bold-governor-bay-18px">
            <div class="type">Type</div>
            <div class="overlap-group-10">
              <div class="eftsl">EFTSL</div>
              <div class="credit">Credit</div>
            </div>
            <div class="fee">Fee</div>
          </div>
        </div>
        <div class="requirements-list">
          <div class="flex-row-3">
            <div class="requirements montserrat-semi-bold-governor-bay-14px">Requirements</div>
            <div class="number-6 montserrat-medium-black-14px">144</div>
            <div class="text-34 montserrat-medium-black-14px">3.000</div>
            <div class="text-35 montserrat-medium-black-14px">-</div>
          </div>
          <img class="line-4" src="{{url_for('static', filename='img/line-4-2@1x.svg')}}" />
        </div>
        <div class="major-unit-title">
          <div class="name montserrat-semi-bold-governor-bay-18px">Major units : Computer Science</div>
          <img class="line-3" src="{{url_for('static', filename='img/line-3@1x.svg')}}" />
        </div>
        <div class="major-unit-list-1" style="font-family: montserrat;" >
          <div class="overlap-group7-1">
            <div class="rectangle-46-1"></div>
            <div class="rectangle-45-1"></div>
            <img class="rectangle-44-1" src="{{url_for('static', filename='img/rectangle-44@2x.svg')}}" />
            <div class="year-1 montserrat-medium-white-24px" style="font-size: 24px; transform: rotate(270deg); color: white;">Year 1</div>
            <div class="sem1-1 montserrat-medium-governor-bay-24px">Sem1</div>
            <div class="sem2-1 montserrat-medium-governor-bay-24px">Sem2</div>
          </div>
          <div class="flex-col">
            <div class="unit-groups-1">
              <div class="overlap-group6">
                <div class="overlap-group5">
                  <div class="text montserrat-medium-cape-cod-14px">Professional Computing</div>
                  <div class="number montserrat-medium-black-14px">6</div>
                  <div class="text-1 montserrat-medium-black-14px">0.125</div>
                  <div class="price montserrat-medium-black-14px">$1,800</div>
                  <div class="compulsory montserrat-medium-black-14px">Compulsory</div>
                  <div class="overlap-group-5">
                    <div class="dragindicator">
                      <div class="overlap-group-6">
                        <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                        <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                      </div>
                    </div>
                    <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                  </div>
                </div>
                <div class="group-1">
                  <div class="dragindicator-1">
                    <div class="overlap-group-6">
                      <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                      <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                    </div>
                  </div>
                  <div class="text-2 montserrat-medium-cape-cod-14px">Introduction to Data Science</div>
                  <div class="compulsory-1 montserrat-medium-black-14px">Compulsory</div>
                  <div class="number-1 montserrat-medium-black-14px">6</div>
                  <div class="text-3 montserrat-medium-black-14px">0.125</div>
                  <div class="price-1 montserrat-medium-black-14px">$1,800</div>
                </div>
              </div>
              <div class="overlap-group3">
                <div class="overlap-group1-2">
                  <div class="text-4 montserrat-medium-cape-cod-14px">Relational Database Management System</div>
                  <div class="compulsory-2 montserrat-medium-black-14px">Compulsory</div>
                </div>
                <div class="number-2 montserrat-medium-black-14px">6</div>
                <div class="text-5 montserrat-medium-black-14px">0.125</div>
                <div class="price-2 montserrat-medium-black-14px">$1,800</div>
                <div class="overlap-group-5">
                  <div class="dragindicator">
                    <div class="overlap-group-6">
                      <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                      <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                    </div>
                  </div>
                  <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                </div>
              </div>
            </div>
            <div class="add-unit-button">
              <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
              <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
            </div>
            <div class="unit-groups-2">
              <div class="group-4">
                <div class="dragindicator-2">
                  <div class="overlap-group-6">
                    <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                    <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                  </div>
                </div>
                <div class="systems-programming montserrat-medium-cape-cod-14px">Systems Programming</div>
                <div class="compulsory-3 montserrat-medium-black-14px">Compulsory</div>
                <div class="number-3 montserrat-medium-black-14px">6</div>
                <div class="text-6 montserrat-medium-black-14px">0.125</div>
                <div class="price-3 montserrat-medium-black-14px">$1,800</div>
              </div>
              <div class="add-unit-button-1">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
              <div class="add-unit-button-2">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
              <div class="add-unit-button-2">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
            </div>
          </div>
        </div>
        <div class="major-unit-list">
          <div class="overlap-group7">
            <div class="rectangle-46"></div>
            <div class="rectangle-45"></div>
            <img class="rectangle-44" src="{{url_for('static', filename='img/rectangle-44@2x.svg')}}" />
            <div class="year montserrat-medium-white-24px" style="font-size: 24px; transform: rotate(270deg); color: white;" >Year 2</div>
            <div class="sem1 montserrat-medium-governor-bay-24px">Sem1</div>
            <div class="sem2 montserrat-medium-governor-bay-24px">Sem2</div>
          </div>
          <div class="flex-col">
            <div class="unit-groups-1">
              <div class="overlap-group6">
                <div class="overlap-group5">
                  <div class="text montserrat-medium-cape-cod-14px">Professional Computing</div>
                  <div class="number montserrat-medium-black-14px">6</div>
                  <div class="text-1 montserrat-medium-black-14px">0.125</div>
                  <div class="price montserrat-medium-black-14px">$1,800</div>
                  <div class="compulsory montserrat-medium-black-14px">Compulsory</div>
                  <div class="overlap-group-5">
                    <div class="dragindicator">
                      <div class="overlap-group-6">
                        <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                        <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                      </div>
                    </div>
                    <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                  </div>
                </div>
                <div class="group-1">
                  <div class="dragindicator-1">
                    <div class="overlap-group-6">
                      <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                      <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                    </div>
                  </div>
                  <div class="text-2 montserrat-medium-cape-cod-14px">Introduction to Data Science</div>
                  <div class="compulsory-1 montserrat-medium-black-14px">Compulsory</div>
                  <div class="number-1 montserrat-medium-black-14px">6</div>
                  <div class="text-3 montserrat-medium-black-14px">0.125</div>
                  <div class="price-1 montserrat-medium-black-14px">$1,800</div>
                </div>
              </div>
              <div class="overlap-group3">
                <div class="overlap-group1-2">
                  <div class="text-4 montserrat-medium-cape-cod-14px">Relational Database Management System</div>
                  <div class="compulsory-2 montserrat-medium-black-14px">Compulsory</div>
                </div>
                <div class="number-2 montserrat-medium-black-14px">6</div>
                <div class="text-5 montserrat-medium-black-14px">0.125</div>
                <div class="price-2 montserrat-medium-black-14px">$1,800</div>
                <div class="overlap-group-5">
                  <div class="dragindicator">
                    <div class="overlap-group-6">
                      <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                      <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                    </div>
                  </div>
                  <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                </div>
              </div>
            </div>
            <div class="add-unit-button">
              <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
              <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
            </div>
            <div class="unit-groups-2">
              <div class="group-4">
                <div class="dragindicator-2">
                  <div class="overlap-group-6">
                    <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                    <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                  </div>
                </div>
                <div class="systems-programming montserrat-medium-cape-cod-14px">Systems Programming</div>
                <div class="compulsory-3 montserrat-medium-black-14px">Compulsory</div>
                <div class="number-3 montserrat-medium-black-14px">6</div>
                <div class="text-6 montserrat-medium-black-14px">0.125</div>
                <div class="price-3 montserrat-medium-black-14px">$1,800</div>
              </div>
              <div class="add-unit-button-1">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
              <div class="add-unit-button-2">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
              <div class="add-unit-button-2">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
            </div>
          </div>
        </div>
        <div class="major-unit-list">
          <div class="overlap-group7">
            <div class="rectangle-46"></div>
            <div class="rectangle-45"></div>
            <img class="rectangle-44" src="{{url_for('static', filename='img/rectangle-44@2x.svg')}}" />
            <div class="year montserrat-medium-white-24px" style="font-size: 24px; transform: rotate(270deg); color: white;">Year 3</div>
            <div class="sem1 montserrat-medium-governor-bay-24px">Sem1</div>
            <div class="sem2 montserrat-medium-governor-bay-24px">Sem2</div>
          </div>
          <div class="flex-col">
            <div class="unit-groups-1">
              <div class="overlap-group6">
                <div class="overlap-group5">
                  <div class="text montserrat-medium-cape-cod-14px">Professional Computing</div>
                  <div class="number montserrat-medium-black-14px">6</div>
                  <div class="text-1 montserrat-medium-black-14px">0.125</div>
                  <div class="price montserrat-medium-black-14px">$1,800</div>
                  <div class="compulsory montserrat-medium-black-14px">Compulsory</div>
                  <div class="overlap-group-5">
                    <div class="dragindicator">
                      <div class="overlap-group-6">
                        <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                        <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                      </div>
                    </div>
                    <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                  </div>
                </div>
                <div class="group-1">
                  <div class="dragindicator-1">
                    <div class="overlap-group-6">
                      <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                      <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                    </div>
                  </div>
                  <div class="text-2 montserrat-medium-cape-cod-14px">Introduction to Data Science</div>
                  <div class="compulsory-1 montserrat-medium-black-14px">Compulsory</div>
                  <div class="number-1 montserrat-medium-black-14px">6</div>
                  <div class="text-3 montserrat-medium-black-14px">0.125</div>
                  <div class="price-1 montserrat-medium-black-14px">$1,800</div>
                </div>
              </div>
              <div class="overlap-group3">
                <div class="overlap-group1-2">
                  <div class="text-4 montserrat-medium-cape-cod-14px">Relational Database Management System</div>
                  <div class="compulsory-2 montserrat-medium-black-14px">Compulsory</div>
                </div>
                <div class="number-2 montserrat-medium-black-14px">6</div>
                <div class="text-5 montserrat-medium-black-14px">0.125</div>
                <div class="price-2 montserrat-medium-black-14px">$1,800</div>
                <div class="overlap-group-5">
                  <div class="dragindicator">
                    <div class="overlap-group-6">
                      <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                      <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                    </div>
                  </div>
                  <img class="line-17" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                </div>
              </div>
            </div>
            <div class="add-unit-button">
              <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
              <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
            </div>
            <div class="unit-groups-2">
              <div class="group-4">
                <div class="dragindicator-2">
                  <div class="overlap-group-6">
                    <img class="vector-1" src="{{url_for('static', filename='img/vector-10@2x.png')}}" />
                    <img class="vector-2" src="{{url_for('static', filename='img/vector-26@2x.svg')}}" />
                  </div>
                </div>
                <div class="systems-programming montserrat-medium-cape-cod-14px">Systems Programming</div>
                <div class="compulsory-3 montserrat-medium-black-14px">Compulsory</div>
                <div class="number-3 montserrat-medium-black-14px">6</div>
                <div class="text-6 montserrat-medium-black-14px">0.125</div>
                <div class="price-3 montserrat-medium-black-14px">$1,800</div>
              </div>
              <div class="add-unit-button-1">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
              <div class="add-unit-button-2">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
              <div class="add-unit-button-2">
                <img class="line-17-1" src="{{url_for('static', filename='img/line-17@1x.svg')}}" />
                <div class="add-a-unit montserrat-medium-governor-bay-14px">Add a unit</div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-year-button">
          <div class="overlap-group12"><div class="add-another-year">Add another year</div></div>
        </div>
        <div class="balance-unit-list">
          <img class="line-4-1" src="{{url_for('static', filename='img/line-4-1@1x.svg')}}" />
          <div class="flex-row-4">
            <div class="balance montserrat-semi-bold-governor-bay-14px">Balance</div>
            <div class="text-10 montserrat-medium-black-14px">(98)</div>
            <div class="text-11 montserrat-medium-black-14px">(2.000)</div>
            <div class="text-12 montserrat-medium-black-14px">-</div>
          </div>
        </div>
        <div class="course-planner-result">
          <div class="overlap-group11">
            <div class="rectangle-10"></div>
            <div class="total montserrat-semi-bold-governor-bay-18px">TOTAL</div>
            <div class="group-6 montserrat-medium-black-14px">
              <div class="number-7">48</div>
              <div class="text-9">1.000</div>
              <div class="price-5">$14,400</div>
            </div>
            <img class="line-4-2" src="{{url_for('static', filename='img/line-4@1x.svg')}}" />
            <img class="line-5-1" src="{{url_for('static', filename='img/line-4@1x.svg')}}" />
          </div>
        </div>
        <div class="download-section">
          <p class="text-1-1 montserrat-semi-bold-governor-bay-14px">
            Satisfied with your course planner? Download here
          </p>
          <div class="keyboardarrowright">
            <div class="overlap-group1-3">
              <img class="vector-5" src="{{url_for('static', filename='img/vector@2x.svg')}}" />
              <img class="vector-6" src="{{url_for('static', filename='img/vector@2x.png')}}" />
              <div class="keyboardarrowright-1">
                <div class="overlap-group-11"><img class="vector" src="{{url_for('static', filename='img/vector@2x.png')}}" /></div>
              </div>
            </div>
          </div>
          <div class="overlap-group-12">
            <div class="download montserrat-semi-bold-governor-bay-14px">Download</div>
          </div>
        </div>
        <div class="other-page-links">
          <div class="flex-row-5 heebo-bold-white-19px heebo-bold-white-19px heebo-bold-white-19px">
            <div class="overlap-group17"><div class="faq"><a style="color: inherit;" href="/faq">FAQ &gt;&gt;</a></div></div>
            <div class="overlap-group18"><div class="scholarships">Scholarships &gt;&gt;</div></div>
            <div class="overlap-group19"><div class="uwa-handbook">UWA Handbook &gt;&gt;</div></div>
          </div>
          <img class="screen-shot-202-08-24-at-821-1" src="{{url_for('static', filename='img/screen-shot-2021-08-24-at-8-21-1@1x.png')}}" />
        </div>
        <img class="page-pre-footer" src="{{url_for('static', filename='img/page-pre-footer@1x.png')}}" />
        <div class="page-footer">
          <div class="overlap-group16"><img class="uwacrest-white-2" src="{{url_for('static', filename='img/uwacrest-white-1@2x.png')}}" /></div>
          <div class="rectangle-7"></div>
        </div>
      </div>
    </div>
  </body>
</html>
