<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/home-page.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleguide.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/globals.css')}}">
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>

  <body style="margin: 0; background: #fafafa">
    <input type="hidden" id="anPageName" name="page" value="home-page" />
    <div class="container-center-horizontal">
      <div class="home-page screen">
        <div class="page-header">
          <div class="rectangle-3"></div>
          <div class="overlap-group9">
            <img class="uwacrest-white-1" src="{{url_for('static', filename='img/uwacrest-white-2@2x.png')}}" />
            <div class="search-button">
              <div class="search">
                <div class="overlap-group-2"><img class="vector" src="img/vector@2x.png" /></div>
              </div>
              <div class="search-1">SEARCH</div>
            </div>
            <div class="menu-button">
              <div class="menu">
                <div class="overlap-group-3">
                  <img class="vector-4" src="img/vector@2x.png" />
                  <img class="vector-5" src="img/vector-15@2x.svg" />
                </div>
              </div>
              <div class="menu-1">MENU</div>
            </div>
          </div>
          <div class="overlap-group10"><h1 class="title">Fee Calculator</h1></div>
        </div>
        <p class="text-33 montserrat-medium-black-14px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <div class="fee-range-head">
          <div class="text-32">Calculate your typical fee</div>
          <img class="line" src="img/line-2@1x.svg" />
        </div>
        <div class="fee-range-questionaire">
          <div class="overlap-group8">
            <div class="flex-row">
              <div class="text-28 montserrat-medium-governor-bay-18px">Where are you located?</div>
              <div class="overlap-group-4 border-1px-alto">
                <div class="select montserrat-medium-governor-bay-14px">Select</div>
                <div class="arrow-group-1">
                  <img class="vector-1" src="img/vector-6@2x.svg" />
                  <img class="vector-2" src="img/vector-7@2x.svg" />
                </div>
              </div>
            </div>
            <div class="flex-row-1">
              <div class="type-of-study montserrat-medium-governor-bay-18px">Type of study?</div>
              <div class="dropdown-menu border-1px-alto">
                <div class="text-3 montserrat-medium-governor-bay-14px">Select</div>
                <div class="arrow-group">
                  <img class="vector-1" src="img/vector-8@2x.svg" />
                  <img class="vector-3" src="img/vector-9@2x.svg" />
                </div>
              </div>
            </div>
            <div class="overlap-group">
              <div class="text-29 montserrat-medium-governor-bay-18px">When are you planning to start?</div>
              <div class="dropdown-menu-1 border-1px-alto">
                <div class="text-3 montserrat-medium-governor-bay-14px">Select</div>
                <div class="arrow-group">
                  <img class="vector-1" src="img/vector-8@2x.svg" />
                  <img class="vector-3" src="img/vector-9@2x.svg" />
                </div>
              </div>
            </div>
            <div class="overlap-group">
              <div class="text-27 montserrat-medium-governor-bay-18px">Which bachelor do you want to complete?</div>
              <div class="overlap-group1 border-1px-alto">
                <div class="select-1 montserrat-medium-governor-bay-14px">Select</div>
                <div class="arrow-group-2">
                  <img class="vector-1" src="img/vector-12@2x.svg" />
                  <img class="vector-2" src="img/vector-13@2x.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group15">
          <div class="rectangle-18"></div>
          <div class="fee-range-result">
            <div class="text-25 montserrat-semi-bold-governor-bay-18px">
              Typical fee range for _________ study starting in _________
            </div>
            <div class="overlap-group7 montserrat-semi-bold-governor-bay-18px">
              <div class="course-credit-point">Course credit <br />point</div>
              <div class="annual-credit-point">Annual credit <br />point</div>
              <div class="average-annual-fee">Average annual <br />fee</div>
              <div class="typical-fee-range">Typical fee <br />range</div>
            </div>
            <div class="overlap-group6">
              <div class="numbers montserrat-medium-black-18px">
                <div class="number">144</div>
                <div class="number-1">48</div>
                <div class="price-2">$8,747</div>
                <div class="text-26">$3,950-$14,500</div>
              </div>
              <div class="divider">
                <img class="line-5" src="img/line-5-1@2x.svg" />
                <img class="line-6" src="img/line-5-1@2x.svg" />
                <img class="line-7" src="img/line-5-1@2x.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group16">
          <div class="overlap-group5 montserrat-semi-bold-governor-bay-18px">
            <img class="polygon-1" src="img/polygon-1@2x.svg" />
            <img class="vector-6" src="img/vector-4@1x.svg" />
            <div class="unit-name">Unit Name</div>
            <div class="eftsl">EFTSL</div>
            <div class="fee">Fee</div>
            <div class="credit-point">Credit point</div>
          </div>
          <div class="course-planner-intro">
            <div class="text-24">Create your own course planner</div>
            <img class="line" src="img/line-2@1x.svg" />
            <div class="flex-row-2">
              <div class="one-or-two-major">
                <div class="text-23 montserrat-medium-black-18px">Which structure do you plan to follow?</div>
                <div class="flex-row-3">
                  <div class="frame-1"><div class="one-major">One Major</div></div>
                  <div class="or montserrat-medium-black-18px">OR</div>
                  <div class="frame-2"><div class="two-major">Two Major</div></div>
                </div>
              </div>
              <img class="undraw-illustration" src="img/undraw-illustration@2x.svg" />
            </div>
          </div>
        </div>
        <div class="needed-unit-list">
          <div class="flex-row-4">
            <div class="requirements montserrat-semi-bold-governor-bay-14px">Requirements</div>
            <div class="number-2 montserrat-medium-black-14px">144</div>
            <div class="text-21 montserrat-medium-black-14px">3.000</div>
            <div class="text-22 montserrat-medium-black-14px">-</div>
          </div>
          <img class="line-4" src="img/line-3@1x.svg" />
        </div>
        <div class="major-unit-list">
          <div class="name montserrat-semi-bold-governor-bay-18px">Major units : Computer Science</div>
          <img class="line-3" src="img/line-3@1x.svg" />
          <div class="overlap-group-1">
            <div class="group-3">
              <div class="text-4 montserrat-medium-blue-ribbon-14px">Professional Computing</div>
              <div class="number-3 montserrat-medium-black-14px">6</div>
              <div class="text montserrat-medium-black-14px">0.125</div>
              <div class="price montserrat-medium-black-14px">$1,800</div>
            </div>
            <div class="group-1">
              <div class="text-8 montserrat-medium-blue-ribbon-14px">Introduction to Data Science</div>
              <div class="number-4 montserrat-medium-black-14px">6</div>
              <div class="text-1 montserrat-medium-black-14px">0.125</div>
              <div class="price-1 montserrat-medium-black-14px">$1,800</div>
            </div>
          </div>
          <div class="group-2">
            <div class="text-6 montserrat-medium-blue-ribbon-14px">Relational Database Management System</div>
            <div class="number-5 montserrat-medium-black-14px">6</div>
            <div class="text montserrat-medium-black-14px">0.125</div>
            <div class="price montserrat-medium-black-14px">$1,800</div>
          </div>
          <div class="group-4">
            <div class="systems-programming montserrat-medium-blue-ribbon-14px">Systems Programming</div>
            <div class="number-6 montserrat-medium-black-14px">6</div>
            <div class="text montserrat-medium-black-14px">0.125</div>
            <div class="price montserrat-medium-black-14px">$1,800</div>
          </div>
        </div>
        <div class="broadening-unit-list">
          <div class="broadening-units montserrat-semi-bold-governor-bay-18px">Broadening units</div>
          <img class="line-3-1" src="img/line-3@1x.svg" />
          <div class="overlap-group-1">
            <div class="group-3">
              <div class="text-12 montserrat-medium-blue-ribbon-14px">Communicating Science</div>
              <div class="number-7 montserrat-medium-black-14px">6</div>
              <div class="text montserrat-medium-black-14px">0.125</div>
              <div class="price montserrat-medium-black-14px">$1,800</div>
            </div>
            <div class="group-1-1">
              <div class="text-16 montserrat-medium-blue-ribbon-14px">Cellular Biochemistry</div>
              <div class="number-8 montserrat-medium-black-14px">6</div>
              <div class="text-1 montserrat-medium-black-14px">0.125</div>
              <div class="price-1 montserrat-medium-black-14px">$1,800</div>
            </div>
          </div>
          <div class="group-2">
            <div class="text-14 montserrat-medium-blue-ribbon-14px">Systems Pharmacology</div>
            <div class="number-9 montserrat-medium-black-14px">6</div>
            <div class="text montserrat-medium-black-14px">0.125</div>
            <div class="price montserrat-medium-black-14px">$1,800</div>
          </div>
          <div class="group-4">
            <div class="text-10 montserrat-medium-blue-ribbon-14px">Mathematics Fundamental</div>
            <div class="number-10 montserrat-medium-black-14px">6</div>
            <div class="text montserrat-medium-black-14px">0.125</div>
            <div class="price montserrat-medium-black-14px">$1,800</div>
          </div>
        </div>
        <div class="add-unit-button">
          <div class="overlap-group11"><div class="add-a-unit">Add a unit</div></div>
        </div>
        <div class="balance-unit-list">
          <img class="line-4-1" src="img/line-3@1x.svg" />
          <div class="flex-row-5">
            <div class="balance montserrat-semi-bold-governor-bay-14px">Balance</div>
            <div class="text-18 montserrat-medium-black-14px">(98)</div>
            <div class="text-19 montserrat-medium-black-14px">(2.000)</div>
            <div class="text-20 montserrat-medium-black-14px">-</div>
          </div>
        </div>
        <div class="course-planner-result">
          <div class="overlap-group2">
            <div class="rectangle-10"></div>
            <div class="total montserrat-semi-bold-governor-bay-18px">TOTAL</div>
            <div class="group-6 montserrat-medium-black-14px">
              <div class="number-11">48</div>
              <div class="text-2">1.000</div>
              <div class="price-3">$14,400</div>
            </div>
            <img class="line-4-2" src="img/line-4@1x.svg" />
            <img class="line-5-1" src="img/line-4@1x.svg" />
          </div>
        </div>
        <div class="download-section">
          <p class="text-1-1 montserrat-semi-bold-governor-bay-14px">
            Satisfied with your course planner? Download here
          </p>
          <div class="keyboardarrowright">
            <div class="overlap-group1-1">
              <img class="vector-7" src="img/vector@2x.svg" />
              <img class="vector-8" src="img/vector@2x.png" />
              <div class="keyboardarrowright-1">
                <div class="overlap-group-5"><img class="vector" src="img/vector@2x.png" /></div>
              </div>
            </div>
          </div>
          <div class="overlap-group-6"><div class="download montserrat-semi-bold-governor-bay-14px">Download</div></div>
        </div>
        <div class="group-8">
          <div class="flex-row-6 heebo-bold-white-19px heebo-bold-white-19px heebo-bold-white-19px">
            <div class="overlap-group14"><div class="faq">FAQ &gt;&gt;</div></div>
            <div class="overlap-group13"><div class="scholarships">Scholarships &gt;&gt;</div></div>
            <div class="overlap-group12"><div class="uwa-handbook">UWA Handbook &gt;&gt;</div></div>
          </div>
          <img class="screen-shot-202-08-24-at-821-1" src="img/screen-shot-2021-08-24-at-8-21-1@1x.png" />
        </div>
        <img class="page-pre-footer" src="img/page-pre-footer@1x.png" />
        <div class="page-footer">
          <div class="overlap-group-7"><img class="uwacrest-white-2" src="img/uwacrest-white-2@2x.png" /></div>
          <div class="rectangle-7"></div>
        </div>
      </div>
    </div>
  </body>
</html>
